backup/
codigos antigos/
sim_antigas_v2/
include/

workspace_dsp01_v06_2_6/dvt
workspace_dsp01_v06_2_6/RemoteSystemsTempFiles/
workspace_dsp01_v06_2_6/.jxbrowser-data/
workspace_dsp01_v06_2_6/.metadata/

workspace_dsp02_v06_2_6/dvt/
workspace_dsp02_v06_2_6/RemoteSystemsTempFiles/
workspace_dsp02_v06_2_6/.jxbrowser-data/
workspace_dsp02_v06_2_6/.metadata/

workspace_dsp01_v06_2_6/DSP_01_cpu01/CPU1_RAM/
workspace_dsp01_v06_2_6/DSP_01_cpu01/dvt/
workspace_dsp01_v06_2_6/DSP_01_cpu01/RemoteSystemsTempFiles/
workspace_dsp01_v06_2_6/DSP_01_cpu01/targetConfigs/
workspace_dsp01_v06_2_6/DSP_01_cpu01/.jxbrowser-data/
workspace_dsp01_v06_2_6/DSP_01_cpu01/.launches/
workspace_dsp01_v06_2_6/DSP_01_cpu01/.settings/
workspace_dsp01_v06_2_6/DSP_01_cpu01/.metadata/

workspace_dsp01_v06_2_6/DSP_01_cpu02/CPU2_RAM/
workspace_dsp01_v06_2_6/DSP_01_cpu02/dvt/
workspace_dsp01_v06_2_6/DSP_01_cpu02/RemoteSystemsTempFiles/
workspace_dsp01_v06_2_6/DSP_01_cpu02/targetConfigs/
workspace_dsp01_v06_2_6/DSP_01_cpu02/.jxbrowser-data/
workspace_dsp01_v06_2_6/DSP_01_cpu02/.launches/
workspace_dsp01_v06_2_6/DSP_01_cpu02/.settings/
workspace_dsp01_v06_2_6/DSP_01_cpu02/.metadata/

workspace_dsp02_v06_2_6/DSP_02_cpu01/CPU1_RAM/
workspace_dsp02_v06_2_6/DSP_02_cpu01/dvt/
workspace_dsp02_v06_2_6/DSP_02_cpu01/RemoteSystemsTempFiles/
workspace_dsp02_v06_2_6/DSP_02_cpu01/targetConfigs/
workspace_dsp02_v06_2_6/DSP_02_cpu01/.jxbrowser-data/
workspace_dsp02_v06_2_6/DSP_02_cpu01/.launches/
workspace_dsp02_v06_2_6/DSP_02_cpu01/.settings/
workspace_dsp02_v06_2_6/DSP_02_cpu01/.metadata/

workspace_dsp02_v06_2_6/DSP_02_cpu02/CPU2_RAM/
workspace_dsp02_v06_2_6/DSP_02_cpu02/dvt/
workspace_dsp02_v06_2_6/DSP_02_cpu02/RemoteSystemsTempFiles/
workspace_dsp02_v06_2_6/DSP_02_cpu02/targetConfigs/
workspace_dsp02_v06_2_6/DSP_02_cpu02/.jxbrowser-data/
workspace_dsp02_v06_2_6/DSP_02_cpu02/.launches/
workspace_dsp02_v06_2_6/DSP_02_cpu02/.settings/
workspace_dsp02_v06_2_6/DSP_02_cpu02/.metadata/

